%li
  - form_tag(batch_search_path, :method => :get, :id => 'quick_search') do
    = text_field_tag(:id, 'go to batch ID', :class => 'prefilled')

%li
  = h(current_user.username)
  (#{ link_to(self.logout_link_text, logout_path) })
