html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1em;
  color: black;
  background: #fff; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: "" ""; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

img a {
  border: none; }

*:focus {
  outline: #666666 dotted medium; }

body {
  background: #f8f8f8;
  color: #222222;
  font-family: 'Lucida Grande', helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 16px; }
  body a {
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body .clear {
    clear: both; }
  body input.prefilled {
    color: #d0d0d0; }

#header {
  background: #2f3b5d;
  border-top: 3px solid #0077a9;
  color: #efefef;
  padding: 3px 10px 5px; }
  #header a {
    color: #efefef; }
  #header #description {
    display: inline;
    float: left; }
    #header #description img, #header #description h1 {
      display: inline-block; }
  #header #controls {
    display: inline;
    float: right;
    text-align: right; }
    #header #controls ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: inline; }
      #header #controls ul li {
        margin: 0px;
        padding: 0px;
        display: inline; }
      #header #controls ul li:after {
        content: ' * '; }
      #header #controls ul li:last-child:after, #header #controls ul li.last {
        content: ''; }
    #header #controls #quick_search {
      display: inline-block; }

#footer {
  border-top: 1px solid #d0d0d0;
  font-size: 10px;
  padding-top: 3px;
  color: #666666; }
  #footer a {
    color: #666666; }
  #footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline; }
    #footer ul li {
      margin: 0px;
      padding: 0px;
      display: inline; }
    #footer ul li {
      margin-right: 5px; }

#login {
  border: 3px solid #2f3b5d;
  background: #d0d0d0;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 400px; }
  #login h1 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #666666; }
  #login form {
    text-align: center; }
    #login form li {
      line-height: 30px; }
      #login form li label {
        display: inline-block;
        width: 7em;
        text-align: right;
        margin-right: 5px; }
      #login form li input {
        width: 20em; }
      #login form li.error input {
        background: #e98844;
        border: 1px solid #c92200; }
      #login form li.boolean label, #login form li.boolean input {
        width: auto; }
      #login form li .inline-errors {
        display: none; }

#errorExplanation {
  text-align: left;
  background: #e98844;
  border: 2px solid #c92200;
  padding: 5px;
  color: #f8f8f8; }
  #errorExplanation h2 {
    font-weight: bold; }

#thumbnails > .lane {
  border: 1px solid #484848;
  padding: 5px;
  margin: 5px auto;
  text-align: center; }
  #thumbnails > .lane .thumbnail {
    display: inline-block;
    margin: 2px;
    text-align: center; }
    #thumbnails > .lane .thumbnail img {
      margin-bottom: 4px; }
