/* line 6, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 14, ../../app/stylesheets/screen.sass */
*:focus {
  outline: #666666 dotted medium; }

/* line 17, ../../app/stylesheets/screen.sass */
body {
  background: #f8f8f8;
  color: #222222;
  font-family: 'Lucida Grande', helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 16px; }
  /* line 26, ../../app/stylesheets/screen.sass */
  body a {
    text-decoration: none; }
    /* line 4, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
    body a:hover {
      text-decoration: underline; }
  /* line 29, ../../app/stylesheets/screen.sass */
  body .clear {
    clear: both; }

/* line 32, ../../app/stylesheets/screen.sass */
#header {
  background: #2f3b5d;
  border-top: 3px solid #0077a9;
  color: #efefef;
  padding: 3px 10px 5px; }
  /* line 38, ../../app/stylesheets/screen.sass */
  #header a {
    color: #efefef; }
  /* line 41, ../../app/stylesheets/screen.sass */
  #header #description {
    display: inline;
    float: left; }
    /* line 44, ../../app/stylesheets/screen.sass */
    #header #description img, #header #description h1 {
      display: inline-block; }
  /* line 47, ../../app/stylesheets/screen.sass */
  #header #controls {
    display: inline;
    float: right;
    text-align: right; }
    /* line 51, ../../app/stylesheets/screen.sass */
    #header #controls ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: inline; }
      /* line 8, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_inline_list.sass */
      #header #controls ul li {
        margin: 0px;
        padding: 0px;
        display: inline; }
      /* line 54, ../../app/stylesheets/screen.sass */
      #header #controls ul li:after {
        content: ' * '; }
      /* line 57, ../../app/stylesheets/screen.sass */
      #header #controls ul li:last-child:after, #header #controls ul li.last {
        content: ''; }
    /* line 60, ../../app/stylesheets/screen.sass */
    #header #controls #quick_search {
      display: inline-block; }

/* line 63, ../../app/stylesheets/screen.sass */
#footer {
  border-top: 1px solid #d0d0d0;
  font-size: 10px;
  padding-top: 3px;
  color: #666666; }
  /* line 69, ../../app/stylesheets/screen.sass */
  #footer a {
    color: #666666; }
  /* line 72, ../../app/stylesheets/screen.sass */
  #footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline; }
    /* line 8, ../../../../.rvm/gems/ruby-1.8.6-p383@clusterview/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_inline_list.sass */
    #footer ul li {
      margin: 0px;
      padding: 0px;
      display: inline; }
    /* line 75, ../../app/stylesheets/screen.sass */
    #footer ul li {
      margin-right: 5px; }
