@import compass/reset.sass
@import compass/utilities/general.sass
@import compass/utilities/lists.sass
@import compass/utilities/links.sass

!color_black       = #222222
!color_white       = #F8F8F8

!color_blue_light  = #0077A9
!color_blue_dark   = #2F3B5D
!color_grey_light  = #D0D0D0
!color_grey_medium = #666666

*:focus
  outline= !color_grey_medium "dotted" "medium"

body
  background= !color_white
  color= !color_black

  font: 
    family: 'Lucida Grande', helvetica, arial, sans-serif
    size: 12px
  line-height: 16px

  a
    +hover-link

  .clear
    clear: both

#header
  background= !color_blue_dark
  border-top= 3px "solid" !color_blue_light
  color= #EFEFEF
  padding: 3px 10px 5px

  a
    +link-colors(#EFEFEF)

  #description
    +float-left

    img, h1
      display: inline-block

  #controls
    +float-right
    text-align: right

    ul
      +inline-list

      li:after
        content: ' * '

      li:last-child:after, li.last
        content: ''

    #quick_search
      display: inline-block

#footer
  border-top= 1px "solid" !color_grey_light
  font-size: 10px
  padding-top: 3px
  color= !color_grey_medium

  a
    +link-colors(!color_grey_medium)

  ul
    +inline-list

    li
      margin-right: 5px
