<h1>Batch updating</h1>
<p>To search for a particular batch use the search box at the top of this page.  Otherwise you can <a href="#" id="start_bulk_upload">start a bulk upload of images</a>.</p>
<%= bulk_upload_container('#start_bulk_upload') %>

<h1>Batch comparison</h1>
<%= render(:partial => 'two_lane_comparison') %>
